p {
  font-family: Lato;
}

header{
  display: flex;
  // padding:30px;
  background: #333;
  justify-content: center;
  a{
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    font-size:20px;
    &:hover, &.active{
      background: white;
      color: #333;
    }

  }
}

.box{
  height: 500px;
  margin: 20px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  h1{
    font-size: 60px;
  }
  &.box1{
    background: #7d0000;

  }
  &.box2{
    background: #cd3700;

  }
  &.box3{
    background: 	#cd7f32;

  }
}
