
<!-- <app-search></app-search> -->

<!-- <app-todolist></app-todolist> -->

<!-- <app-dom></app-dom> -->

<!-- <app-transition></app-transition> -->

<!-- <app-home></app-home> -->

<!-- <app-news-09></app-news-09> -->

<!-- <app-lifecycle-parent></app-lifecycle-parent> -->
<ul>
  <li><a [routerLink]="[ '/app-search' ]" routerLinkActive="active">app-search</a></li>
  <li><a [routerLink]="[ '/app-todolist' ]" routerLinkActive="active">app-todolist</a></li>
  <li><a [routerLink]="[ '/app-dom' ]" routerLinkActive="active">app-dom</a></li>
  <li><a [routerLink]="[ '/app-transition' ]" routerLinkActive="active">app-transition</a></li>
  <li><a [routerLink]="[ '/app-home' ]" routerLinkActive="active">app-home</a></li>
  <li><a [routerLink]="[ '/app-news' ]" routerLinkActive="active">app-news</a></li>
  <li><a [routerLink]="[ '/app-news-09' ]" routerLinkActive="active">app-news-09</a></li>
  <li><a [routerLink]="[ '/app-lifecycle' ]" routerLinkActive="active">app-lifecycle</a></li>
  <li><a [routerLink]="[ '/14-router-params/news-list' ]" routerLinkActive="active">14-路由-新闻组件</a></li>
</ul>

<router-outlet></router-outlet>
