<ul>
  <li><a [routerLink]="[ '/app-search' ]" routerLinkActive="active">Search</a></li>
  <li><a [routerLink]="[ '/app-todolist' ]" routerLinkActive="active">Todolist</a></li>
  <li><a [routerLink]="[ '/app-dom' ]" routerLinkActive="active">Dom</a></li>
  <li><a [routerLink]="[ '/app-transition' ]" routerLinkActive="active">Transition</a></li>
  <li><a [routerLink]="[ '/app-home' ]" routerLinkActive="active">Home</a></li>
  <li><a [routerLink]="[ '/app-news' ]" routerLinkActive="active">News</a></li>
  <li><a [routerLink]="[ '/app-news-09' ]" routerLinkActive="active">News-09</a></li>
  <li><a [routerLink]="[ '/app-lifecycle' ]" routerLinkActive="active">Lifecycle</a></li>
  <li><a [routerLink]="[ '/14-router-params/news-list' ]" routerLinkActive="active">14-路由-新闻组件</a></li>
  <li><a [routerLink]="[ '/15-routeroutlet' ]" routerLinkActive="active">15-路由-outlet</a></li>
  <li><a [routerLink]="[ '/17-module-user' ]" routerLinkActive="active">17-路由-user</a></li>
  <li><a [routerLink]="[ '/18-user' ]" routerLinkActive="active">18-路由-user</a></li>
  <li><a [routerLink]="[ '/18-product' ]" routerLinkActive="active">18-路由-product</a></li>
  <li><a [routerLink]="[ '/18-article' ]" routerLinkActive="active">18-路由-article</a></li>
  <li>Animation</li>
  <ul>
    <li><a [routerLink]="[ '/19-animations' ]" routerLinkActive="active">19-animations</a></li>
    <li><a [routerLink]="[ '/19-1-animations' ]" routerLinkActive="active">19-1-popover</a></li>
    <li><a [routerLink]="[ '/19-2-animations' ]" routerLinkActive="active">19-2-multistate</a></li>
    <li><a [routerLink]="[ '/19-3-animations' ]" routerLinkActive="active">19-3-keyframe</a></li>
  </ul>
</ul>
