.search {
    width: 400px;
    margin-bottom: 20px;
    input {
        margin-bottom: 20px;
        width: 300px;
        height: 32;
    }

    button {
        height: 32px;
        width: 80px;
    }
}

h2 {
    text-align: center;
}
